<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ModpackUpdateManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="curseforgeMinecraftSeachUrl" value="https://beta.curseforge.com/minecraft/search?gameId=0&amp;index=0&amp;pageSize=20&amp;sortType=1&amp;classId=6&amp;class=mc-mods" />
    <add key="curseforgeApiMinecraftSeachUrl" value="https://beta.curseforge.com/api/v1/mods/{0}/files?pageIndex=0&amp;pageSize=1&amp;sort=dateCreated&amp;sortDescending=true&amp;gameVersionId={1}&amp;gameFlavorId={2}" />
    <add key="apiBaseUrl" value="https://beta.curseforge.com/api/v1/mods/" />
    <add key="baseModUrl" value="https://beta.curseforge.com/minecraft/mc-mods/" />
    <add key="downloadUrl" value="{0}/download/{1}" />
  </appSettings>
  <userSettings>
    <ModpackUpdateManager.Properties.Settings>
      <setting name="CurrentModListIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BaseModAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentModId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsTaskCancelled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsInAutoMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SourceModPath" serializeAs="String">
        <value />
      </setting>
      <setting name="OutputModPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedApi" serializeAs="String">
        <value />
      </setting>
      <setting name="SkipExisting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DownloadMods" serializeAs="String">
        <value>False</value>
      </setting>
    </ModpackUpdateManager.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>